{% extends 'classwork_app/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
About Us
{% endblock %}

{% block content %}
<h1>About Us</h1>
		
	<div class="about-content">
		<div class="column-section">
			<h2>Lean about our CEO</h2>
			<img src="images/Biodun-Fatoyinbo.jpg" alt="">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae illum recusandae<br> 
				impedit optio nisi deleniti, nostrum ad labore, debitis at dolor quo autem omnis voluptatum<br>  ipsa natus harum maiores. At.Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> 
					Quae illum recusandae impedit optio nisi deleniti, nostrum ad labore, debitis at dolor<br>  
					quo autem omnis voluptatum ipsa natus harum maiores. At.Lorem ipsum dolor sit amet,<br>  consectetur adipisicing elit. Quae illum recusandae impedit optio nisi deleniti,<br> 
					nostrum ad labore, debitis at dolor quo autem omnis voluptatum ipsa natus harum maiores. At.
					quo autem omnis voluptatum ipsa natus harum maiores. At.Lorem ipsum dolor sit amet,<br>  consectetur adipisicing elit. Quae illum recusandae impedit optio nisi deleniti,<br> 
					nostrum ad labore, debitis at dolor quo autem omnis voluptatum ipsa natus harum maiores. At.
			</p>
	</div>
	{% include 'classwork_app/sidebar.html' %}
</div>
{% endblock %}