{% extends 'classwork_app/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
 {{ post_detail_key.post_title }}
{% endblock %}

{% block content %}
		<div class="users-content">
			<div class="column-section">
                <form method='post'>
                    <table>
                        {{ form_key.as_table }}
                    </table>
                    {% csrf_token %}
                    <input type="submit" value="Send Data">
                </form>
			</div>
			{% include 'classwork_app/sidebar.html' %}
		</div>

{% endblock %}