<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Service</title>
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<div id="wrapper">
		<a href="index.html">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="about.html">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="users.html">Users</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="">Services</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="contact.html">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<hr>
		
		<h1>Service</h1>
		
		<div class="service-content">
			<div class="column-section">
				<i class="fa fa-android"></i>
				<h3>Mobile App Development</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae illum recusandae<br> 
					impedit optio nisi deleniti, nostrum ad labore, debitis at dolor quo autem omnis voluptatum<br>  ipsa natus harum maiores. At.Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> 
					 Quae illum recusandae impedit optio nisi deleniti, nostrum ad labore, debitis at dolor<br>  
				</p>
				<p><a href="detail.html">Readmore>></a></p>
				<i class="fa fa-apple"></i>
				<h3>Software Development</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae illum recusandae<br> 
					impedit optio nisi deleniti, nostrum ad labore, debitis at dolor quo autem omnis voluptatum<br>  ipsa natus harum maiores. At.Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> 
					 Quae illum recusandae impedit optio nisi deleniti, nostrum ad labore, debitis at dolor<br>  
				</p>
				<p><a href="detail.html">Readmore>></a></p>
				<i class="fa fa-code"></i>
				<h3>Web Development</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae illum recusandae<br> 
					impedit optio nisi deleniti, nostrum ad labore, debitis at dolor quo autem omnis voluptatum<br>  ipsa natus harum maiores. At.Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> 
					 Quae illum recusandae impedit optio nisi deleniti, nostrum ad labore, debitis at dolor<br>  
				</p>
				<p><a href="detail.html">Readmore>></a></p>
			</div>
			<div class="sidebar">
				<h3>Menu</h3>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Users</a></li>
					<li><a href="#">Serives</a></li>
					<li><a href="#">Contact</a></li>
				</ul>

				<h3>Branches</h3>
				<ul>
					<li><a href="#">Ikeja</a></li>
					<li><a href="#">Festac</a></li>
					<li><a href="#">Lekki</a></li>
					<li><a href="#">Surulere</a></li>
					<li><a href="#">Lekki</a></li>
				</ul>
			</div>
		</div>
		<footer>
			&copy; 2019
		</footer>
	</div>

	
</body>
</html>