h1, h2, h3, h4, h5, h6{
	font-family: arial, verdana, sans-serif;
}

h1{
	color:red;
}


h2{
	color:green;
	font-style: italic;
}

img{
	width: 
}

.home-content > img{
	width:auto;
	max-height: 300px;
}

.column-section{
	width: 70%;
}

.sidebar{
	width: 30%;
	padding-left: 20px;
	box-sizing: border-box;
}

.column-section, .sidebar{
	float: left;
}

.active{
	color:red;
	text-decoration: underline;
}

.contact-column iframe{
	width: 100%;
}

.contact-content, .about-content, 
.service-content, .users-content{
	overflow: hidden;
}

 .column-section{
	border-right: 1px solid #000;
	box-sizing: border-box;
}

.contact-column{
	width: 50%;
	padding: 15px;
	box-sizing: border-box;
	float: left;
}

.service-content .fa{
	font-size: 35px;
}

.table{
	width: 650px;
	border-collapse: collapse;
}

.table tr{
	height: 40px;
}


.table td,
.table th{
	border:1px solid #000;
	padding-left: 10px;
	box-sizing: border-box;
}

footer{
	background-color: blue;
	height: 100px;
	color:#fff;
	padding: 15px;
	box-sizing: border-box;
}

.form-control{
	width: 100%;
	height: 30px;
	padding: 10px;
	box-sizing: border-box;
}

.form-group{
	margin-bottom: 20px;
}

/* input[type='text'],
input[type='password'],
input[type='email'],
select, textarea{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

textarea{
	height: 150px;
} */


.danger{
	background-color:red;
	color:#fff;
}