{% extends 'back_end/base.html' %}
<!Doctype html>
{% load static %}
{% block title %}
{{ user.first_name }} | {{ user.last_name }}
{% endblock %}

{% block content %}

{% if not instance.pk %}
<h2>Add Post</h2>
{% else %}
<h2>Edit Post</h2>
{% endif %}
{% if messages %}
    {% for message in messages %}
    <div class="success">{{ message }}</div>
    {% endfor %}
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    {% if not instance.pk %}
    <input type="submit" value="Add Post">
    {% else %}
    <input type="submit" value="Edit Post">
    {% endif %}


</form>



{% endblock %}
