<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>

    <form method='post'>
        {% csrf_token %}
        <table>
            {{ reg.as_table }}
        </table>
        <input type="submit" value="Register">
    </form>
    <a href="{% url 'back_end:login' %}">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'index' %}">Main Site</a>&nbsp;&nbsp;&nbsp;&nbsp;
    
</body>
</html>